---
layout: page
title: "인공지능과 법"
category: 소식
permalink: "seminar/ai_law/"
---

<img src="/assets/news/AI-Law.jpg" />

<div id="seminar-list">
  {% for seminar in site.data.seminar-ai_law.current_year %}
  <div class="seminar-item">
    <div class="seminar-date">{{seminar.date}}</div>
    <div class="seminar-sublist">
      {% for session in seminar.sessions %}
      <div class="seminar-subitem">
        <div class="seminar-title">{{session.title}}</div>
        <div class="seminar-presenter">
          <div class="seminar-label">발제</div>
          <div class="seminar-name">{{session.presenter}}</div>
        </div>
        {% if session.link %}
        <a class="seminar-video" href="{{session.link}}" target="_blank"
          ><img src="/assets/imgs/movie-videos-icon.svg" />
        </a>
        {% endif %}
      </div>
      {% endfor %} {% if seminar.link %}
      <a class="seminar-video" href="{{session.link}}" target="_blank">
        <img src="/assets/imgs/movie-videos-icon.svg" />
      </a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
