---
---

@import "minima";

$base-theme: #0068b7;
$base-secondary: rgb(192, 64, 145);
$base-secondary-light: rgb(210, 129, 179);
$gray-bg: #373737;
$gray-bg-light: #e8e8e8;
$gray-fg: rgb(181, 182, 182);

h1 {
	text-align: center;
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 32px;
}

h3.page-subtitle {
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	color: $base-theme;
}

body {
	font-family: "Noto Sans KR";
	word-break: keep-all;
}

a {
	color: $base-theme;
}

// Header area

.site-header {
	border-top: none;
	.wrapper {
		max-width: 100%;
		padding: 0 120px;
	}
}

#logo {
	width: 70px;
	height: auto;
	z-index: 150;
	margin: 8px 0;
}

.nav-dropdown {
	display: inline-block;
	position: relative;
	cursor: default;

	.group-dropdown {
		margin: 0 20px;
		height: 60px;
	}
	.page-dropdown {
		font-size: 14px;
		display: none;
		position: absolute;
		left: 0px;
		z-index: 100;
		.page-link {
			background-color: white;
			width: 140px;
			margin: 0;
			padding: 16px;
			display: block;
			height: fit-content;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	transition: all 0.3s;

	&:hover {
		transition: all 0.3s;
		background-color: $gray-bg-light;

		.group-dropdown {
			color: $base-secondary;
			font-weight: 700;
		}
		.page-dropdown {
			display: block;
		}
	}
}

@media screen and (max-width: 1000px) {
	.site-header {
		border-top: none;
		.wrapper {
			max-width: 100%;
			padding: 0 16px;
		}
	}

	.site-nav {
		position: absolute;
		top: 0;
		right: 0;
		padding: 9px 15px;
		background-color: white;
		border: none;
	}

	label[for="nav-trigger"] {
		display: block;
		float: right;
		width: 36px;
		height: 36px;
		z-index: 2;
		cursor: pointer;
	}

	.menu-icon {
		display: block !important;
		float: right;
		width: 36px;
		height: 26px;
		line-height: 0;
		padding-top: 10px;
		text-align: center;

		> svg {
			fill: $grey-color-dark;
		}
	}

	input ~ .trigger {
		clear: both;
		display: none;
	}

	input:checked ~ .trigger {
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	.nav-dropdown {
		width: calc(100vw - 30px);
		display: grid;
		grid-template-columns: 80px auto;
		column-gap: 24px;
		color: $base-secondary;
		.page-dropdown {
			display: block;
			position: relative;
			text-align: center;

			.page-link {
				width: 100%;
				padding: 16px 0;
				text-align: left;
				color: black;
			}
		}

		border-top: $gray-bg-light 1px solid;

		&:hover {
			background-color: white;

			.group-dropdown {
				color: black;
				font-weight: 500;
			}
		}
	}
}

// Footer area

.site-footer {
	background-color: $gray-bg;
	color: rgb(202, 202, 202);
	font-weight: 300;
	.footer {
		display: flex;
		justify-content: space-between;
		.footer-col {
			margin: 0px 16px;
		}

		.footer-col.col-right {
			margin: 0px 16px;
			text-align: right;
		}
	}
}

@media screen and (max-width: 600px) {
	.site-footer {
		.footer {
			font-size: 14px;
			display: flex;
			flex-direction: column;
			.footer-col {
				padding: 0;
			}
			.footer-col.col-right {
				text-align: right;
				margin: 0;
			}
		}
	}
}

// Main page

#home-content {
	padding-top: 0;
}

#home-banner {
	width: 100%;

	background-size: cover;
	background-position: center;
	height: 60vh;
	color: white;
	display: grid;
	place-items: end left;

	&.spring {
		background-image: url("./imgs/banner/Spring.jpg");
	}

	&.summer {
		background-image: url("./imgs/banner/summer.jpg");
	}

	&.fall {
		background-image: url("./imgs/banner/Fall.jpg");
	}

	&.winter {
		background-image: url("./imgs/banner/Winter.jpg");
	}
	.banner-overlay {
		// position: relative;
		// top: 0;
		// left: 0;
		width: fit-content;
		height: fit-content;
		padding: 20px;
		margin-left: 20px;
		margin-bottom: 20px;
		background-color: #37373771;
	}
}

// Carousel

.slider-wrapper {
	position: relative;
	overflow: hidden;
	.slide-arrow {
		position: absolute;
		display: flex;
		top: 0;
		bottom: 0;
		margin: auto;
		height: 4rem;
		background-color: white;
		border: none;
		width: 2rem;
		font-size: 3rem;
		padding: 0;
		cursor: pointer;
		opacity: 0.5;
		transition: opacity 100ms;
	}

	.slide-arrow:hover,
	.slide-arrow:focus {
		opacity: 1;
	}

	#slide-arrow-prev {
		left: 0;
		padding-left: 0.25rem;
		border-radius: 0 2rem 2rem 0;
	}

	#slide-arrow-next {
		right: 0;
		padding-left: 0.75rem;
		border-radius: 2rem 0 0 2rem;
	}
}

.slides-container {
	height: calc(60vh - 2rem);
	min-height: 400px;
	width: 100%;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: scroll;
	scroll-behavior: smooth;

	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer 10+ */
}

.slides-container::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.slide {
	width: 100%;
	height: 100%;
	flex: 1 0 100%;
}

.slide:nth-child(1) {
	background-color: #49b293;
}

.slide:nth-child(2) {
	background-color: #b03532;
}

.slide:nth-child(3) {
	background-color: #6a478f;
	margin: 0;
}

.slide:nth-child(4) {
	background-color: #da6f2b;
}

.col-2-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0 80px;
	column-gap: 60px;
}

.col-3-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 0 80px;
	column-gap: 60px;
}

.col-1-wrapper {
	padding: 0 80px;
}

.home-section {
	margin: 24px 0 48px;
	.section-title-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.section-title-link {
			font-size: 12px;
			color: $gray-bg;
		}
	}
}

.section-title {
	font-weight: 700;
	font-size: 20px;
	margin: 16px 0;
	padding-bottom: 12px;
	width: fit-content;
	border-bottom: 2px solid $base-theme;
}

#major-home {
	background-image: url("./imgs/banner/major.jpg");
	background-size: cover;
	background-position: center;
	background-color: $base-theme;
	color: white;
	transform: scaleX(-1);
	padding: 0;
	.major-wrapper {
		// background: $base-theme;
		background: linear-gradient(
			270deg,
			transparent 0%,
			$base-theme 65%,
			$base-theme 100%
		);
		padding: 100px 80px;
		transform: scaleX(-1);
	}
	.section-title {
		font-weight: 700;
		font-size: 32px;
	}
	div {
		font-weight: 300;
		color: $gray-bg-light;
	}
	a {
		text-decoration: none;
		color: white;
		font-weight: 300;
		padding: 16px 24px;
		border-radius: 50px;
		border: 2px solid white;
		display: block;
		width: fit-content;
		margin-top: 24px;
		transition: all 0.3s;

		&:hover {
			background-color: white;
			color: $base-theme;
			transition: all 0.3s;
		}
	}
}

#news-home {
	.news-item {
		&:hover {
			top: 0px;
		}
	}
}

#notice-home {
	.post-list {
		margin: 0;
	}

	.post-list-home .post-item {
		display: grid;
		grid-template-columns: auto 80px;
		justify-items: center;
		column-gap: 8px;
		margin-bottom: 4px;

		.post-link {
			font-weight: 500;
			margin: 0;
			justify-self: left;
			font-size: 16px;
			color: $gray-bg;
		}

		.post-meta {
			color: $gray-fg;
			font-size: 14px;
		}
	}
}

#seminar-home {
	.seminar-item {
		margin-top: -4px;
		background-color: $gray-bg-light;
		border-radius: 4px;
		padding: 8px 12px;

		.seminar-presenter,
		.seminar-debater {
			display: flex;

			align-items: center;
			margin: 8px 0;
			font-size: 14px;
		}

		.seminar-label {
			font-size: 10px;
			color: white;
			background-color: $base-secondary;
			font-weight: 700;
			padding: 2px 4px;
			border-radius: 4px;
			margin-right: 8px;
		}

		.seminar-presenter .seminar-label {
			background-color: $base-secondary;
		}

		.seminar-debater .seminar-label {
			background-color: $base-theme;
		}

		.seminar-title {
			place-self: center left;
			font-weight: 700;
		}

		.seminar-subitem {
			margin-bottom: 8px;
			border-top: #8c8c8c 1px solid;
			display: grid;
			grid-template-columns: 150px 1fr;
		}

		.seminar-date {
			margin-bottom: 8px;
		}
	}
}

#event-home {
	.post-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 12px 0;
		border-bottom: 1px $gray-fg solid;
		a {
			text-decoration: none;
			color: black;
			font-size: 20px;
		}
	}
}

@media screen and (max-width: 768px) {
	.col-1-wrapper,
	.col-2-wrapper,
	.col-3-wrapper {
		padding: 0 16px;
	}

	.col-2-wrapper,
	.col-3-wrapper {
		grid-template-columns: 1fr;
	}

	#major-home {
		padding: 0;
		.major-wrapper {
			padding: 40px;
			.section-title {
				font-size: 24px;
			}
		}
	}
}

// Notice - post list

#notice {
	.post-list {
		margin-top: 28px;
	}

	.post-list-header,
	.post-item {
		display: grid;
		grid-template-columns: 80px auto 80px;
		justify-items: center;

		border-bottom: 0.5px solid $gray-fg;
		column-gap: 8px;
	}

	.post-list-header {
		font-size: 16px;
		padding-bottom: 16px;
	}

	.post-item {
		padding: 20px 0;
		font-size: 14px;
		.post-link {
			font-weight: 600;
			margin: 0;
			justify-self: left;
			font-size: 14px;
			color: black;
		}

		.post-meta {
			color: $gray-fg;
		}
	}
}

// Notice - post template

header {
	a {
		cursor: pointer;
		&:hover {
			text-decoration: none;
		}
	}

	border-bottom: 1px solid $gray-bg-light;
}

.post-title-wrapper {
	display: grid;
	justify-items: center;

	margin: 16px 0;
	.post-title {
		font-size: 24px;
		font-weight: 700;
		margin: 0;
	}

	.post-meta {
		// background-color: $gray-bg-light;
		color: $gray-fg;
		justify-self: stretch;
		text-align: center;
		font-size: 12px;
		padding: 12px;
	}
}

.post-content {
	padding: 0 16px;
	font-size: 16px;
}

// Events - list template

#events {
	.event-list {
		.event-item {
			border-bottom: 1px $gray-fg solid;
			// background-color: $gray-bg-light;
			// margin: 16px 0;
			padding: 20px 16px;

			.post-link {
				color: black;
				font-weight: 500;
			}
		}
	}
}

// Seminar - list template

#seminar-list {
	.list-title {
		font-size: 24px;
		font-weight: 700;
	}

	.seminar-item {
		border-radius: 8px;
		margin: 24px 0;
		.seminar-date {
			font-weight: 600;
			color: $base-theme;
			font-size: 20px;
			padding-bottom: 8px;
			border-bottom: #373737 1.5px solid;
		}

		.seminar-video {
			display: block;
			padding: 8px 16px;
			width: fit-content;
			margin: 16px 0 8px;
			border-radius: 50px;
			text-decoration: none;
			color: white;
			background-color: $base-secondary-light;
			transition: all 0.3s;

			&:hover {
				background-color: $base-secondary;
				transition: all 0.3s;
			}
		}

		.seminar-sublist {
			.seminar-subitem {
				border-radius: 8px;
				background-color: $gray-bg-light;
				color: black;
				padding: 16px;
				margin: 16px 0;

				.seminar-title {
					font-weight: 700;
					font-size: 18px;
				}

				.seminar-presenter,
				.seminar-debater {
					display: flex;
					align-items: flex-end;
					margin: 8px 0;
				}

				.seminar-label {
					font-size: 12px;
					color: white;
					background-color: $base-secondary;
					font-weight: 700;
					padding: 2px 4px;
					border-radius: 4px;
					margin-right: 8px;
				}

				.seminar-presenter .seminar-label {
					background-color: $base-secondary;
				}

				.seminar-debater .seminar-label {
					background-color: $base-theme;
				}
			}
		}
	}
}

// News - gallery template

#news-home .news-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr; // TODO: adjust according to width
	gap: 40px;
}

.news-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; // TODO: adjust according to width
	gap: 24px;
}

@media screen and (max-width: 900px) {
	#news-home .news-list {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 768px) {
	.news-list {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 480px) {
	#news-home .news-list,
	.news-list {
		grid-template-columns: 1fr;
	}
}

.news-item {
	place-self: stretch;
	border: 0.5px solid $gray-fg;
	padding: 12px;
	position: relative;
	top: 0px;
	transition: 0.3s ease-in-out all;
	&:hover {
		border-color: $gray-bg;
		top: -8px;
		transition: 0.3s ease-in-out all;
	}

	.news-img {
		width: 100%;
		height: 200px;
		margin: 0 auto 16px;
		background-color: $gray-fg;
		background-size: cover;
		background-position: center;
	}

	.news-link {
		color: black;
		font-weight: 600;
	}
}

// Members

.members-header * {
	text-align: center;
}

.member-item {
	display: flex;
	width: 100%;
	margin-bottom: 36px;

	.member-image {
		width: 160px;
		height: 160px;
		background-size: cover;
		background-position: center;
		border-radius: 100%;
	}

	.member-details {
		margin-left: 36px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.member-name {
			font-size: 20px;
			font-weight: 600;
		}
		.member-position,
		.member-college {
			font-size: 18px;
			margin-bottom: 12px;
		}
	}
}

@media (max-width: 768px) {
	.member-item {
		flex-direction: column;
		align-items: center;
		.member-details {
			margin-left: 0;
			width: 100%;
			text-align: center;
		}
	}
}

// Pages

@media screen and (max-width: 600px) {
	.page-content {
		p,
		table,
		li {
			font-size: 14px;
		}

		th,
		td {
			padding: 8px;
		}
	}
}

// Brand page

.logo-explanation-box {
	background-color: #f7f8f8;
	padding: 28px 40px;
	margin: 40px 0 28px;
	.title {
		color: $base-theme;
		font-weight: 700;
		font-size: 20px;
		margin-bottom: 8px;

		.subtitle {
			color: $gray-bg;
			font-weight: 300;
			font-size: 14px;
		}
	}
	.exp {
		margin-left: 16px;
		color: $gray-bg;
	}
}

.logo-img {
	display: block;
	margin: 16px auto;
	place-self: center;
}

#logo-grid {
	display: grid;
	grid-template-rows: 24px 120px 24px 120px 24px 120px;
	margin-bottom: 24px;
}

.logo-button-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.download-button {
		background-color: $base-theme;
		color: white;
		padding: 16px 24px;
		margin: 8px;
	}
}

li {
	list-style-position: inside;
	padding-left: 0;
}

.colorbox-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.colorbox {
		margin: 8px;
		width: 150px;
		.box {
			width: 80px;
			height: 80px;
			margin: 8px auto;
		}
		.bar {
			width: 80px;
			height: 30px;
			margin: 8px auto;
		}
		.code {
			color: $gray-bg;
			font-weight: 300;
			text-align: center;
		}
	}
}

// Contact Page

#link-button {
	background-color: $base-theme;
	color: white;
	padding: 16px 24px;
	margin: 8px;
	text-decoration: none;
	display: block;
	width: fit-content;
}
