---
layout: page
title: 연구위원회
category: 사람들
permalink: "members/4/"
---

<div class="member-exp">
	<div class="member-goal"><b>위원회 설치 목적:</b> {{site.data.members.explanation[3].research[0].goal}}</div>
	<br/>
	<div class="member-role"><b>위원회 기능 및 역할:</b>
		<ul>
			{% for roles in site.data.members.explanation[3].research[0].roles %}
				<li>{{roles.item}}</li>
			{% endfor %}
		</ul>
	</div>
	<br/>
</div>

{% assign members = site.data.members.research | sort:"name" %} {% for member in members %}{% assign
url = site.baseurl | append: member.image %}

<div class="member-item">
	<div
		class="member-image"
		style="background-image:
            url({{url}})"></div>
	<div class="member-details">
		<div class="member-name">{{member.name}}</div>
		<div class="member-position">{{member.position}}</div>
		<div class="member-college">{{member.college}}</div>
		<div class="member-socialmedia">
			{% for media in member.socialmedia %} {% if media.type == "homepage" %}
			<i class="fa-solid fa-house-chimney"></i>
			<a href="{{media.link}}">{{media.link}}</a>
			{% endif %} {% if media.type == "email" %}
			<i class="fa-solid fa-envelope"></i>
			<a href="mailto:{{media.link}}">{{media.link}}</a>
			{% endif %} {% endfor %}
		</div>
	</div>
</div>

{% endfor %}
